<a href="https://colab.research.google.com/github/rapu34/A1_performance_factory_Aveners/blob/main/AI_SPARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üìå**2023 Ïó∞Íµ¨Í∞úÎ∞úÌäπÍµ¨ AI SPARK Ï±åÎ¶∞ÏßÄ - ÏÇ¨ÌöåÎ¨∏Ï†úÌï¥Í≤∞Ìòï** 
##**Î∂ÄÏ†ú : (Ï¥àÎØ∏ÏÑ∏Î®ºÏßÄ(PM2.5) Ïò§ÏóºÎèÑ Îã®Í∏∞ ÏòàÏ∏° Î™®Îç∏ ÎßåÎì§Í∏∞)**
   
### ÌåÄÏõê: Î∞∞Ïû¨Ìïú, ÍπÄÏ†ïÌòÑ, ÍπÄÎØºÏàò

### **1. Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏å ÎßàÏö¥Ìä∏**

In [1]:
# Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏å ÎßàÏö¥Ìä∏
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **2. ÌïÑÏöî ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Î™®Îìà Ìò∏Ï∂ú**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

### **3-1 Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞**

1.   ÌïôÏäµ Îç∞Ïù¥ÌÑ∞
2.   Í∏∞ÏÉÅÏ†ïÎ≥¥Í∞Ä Ìè¨Ìï®Îêú AWS Îç∞Ïù¥ÌÑ∞

3. Í≤∞Ï∏°Ïπò ÌôïÏù∏

In [3]:
train_df = pd.read_csv('/content/drive/MyDrive/dataset (1)/train.csv')
train_df

        Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå  PM2.5
0        0  01-01 00:00  Î™®Ï¢ÖÎèô    NaN
1        0  01-01 01:00  Î™®Ï¢ÖÎèô    NaN
2        0  01-01 02:00  Î™®Ï¢ÖÎèô    NaN
3        0  01-01 03:00  Î™®Ï¢ÖÎèô    NaN
4        0  01-01 04:00  Î™®Ï¢ÖÎèô    NaN
...     ..          ...  ...    ...
596083   3  12-31 19:00  ÌôçÏÑ±Ïùç  0.060
596084   3  12-31 20:00  ÌôçÏÑ±Ïùç  0.052
596085   3  12-31 21:00  ÌôçÏÑ±Ïùç  0.044
596086   3  12-31 22:00  ÌôçÏÑ±Ïùç  0.052
596087   3  12-31 23:00  ÌôçÏÑ±Ïùç  0.060

[596088 rows x 4 columns]

In [4]:
aws_df = pd.read_csv('/content/drive/MyDrive/dataset (1)/aws.csv')
aws_df

         Ïó∞ÎèÑ           ÏùºÏãú    ÏßÄÏ†ê    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)
0         0  01-01 00:00    Í≥ÑÎ£°  0.154818  0.410833  0.033248      0.0  0.830
1         0  01-01 01:00    Í≥ÑÎ£°  0.142180  0.148611  0.030691      0.0  0.853
2         0  01-01 02:00    Í≥ÑÎ£°  0.173776  0.203889  0.040921      0.0  0.802
3         0  01-01 03:00    Í≥ÑÎ£°  0.169036  0.330556  0.048593      0.0  0.816
4         0  01-01 04:00    Í≥ÑÎ£°  0.169036  0.000000  0.007673      0.0  0.827
...      ..          ...   ...       ...       ...       ...      ...    ...
1051915   3  12-31 19:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.317536  0.953333  0.230179      0.0  0.630
1051916   3  12-31 20:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.309637  0.984167  0.253197      0.0  0.648
1051917   3  12-31 21:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.308057  0.966667  0.265985      0.0  0.648
1051918   3  12-31 22:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.306477  0.976667  0.235294      0.0  0.642
1051919   3  12-31 23:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [5]:
missing_values = train_df.isnull().sum()

In [6]:
# Ï¥àÎØ∏ÏÑ∏Î®ºÏßÄ - PM2.5ÏóêÏÑú 15542Ïùò Í≤∞Ï∏° ÌôïÏù∏
missing_values

Ïó∞ÎèÑ           0
ÏùºÏãú           0
Ï∏°Ï†ïÏÜå          0
PM2.5    15542
dtype: int64

### **3-2 Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨**

1. PM2.5 Ï∏°Ï†ïÏÜå ÏúÑÏπòÏôÄ AWS(Í∏∞ÏÉÅÏ†ïÎ≥¥) Ï∏°Ï†ï ÏßÄÏ†êÏùò ÏúÑÏπòÍ∞Ä Î∂ÑÏÇ∞ÎêòÏñ¥ÏûàÏúºÎØÄÎ°ú Ïù∏Í∑º ÏßÄÏ†êÏúºÎ°ú Îß§Ìïë 
2. Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå Ïª¨Îüº Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©

In [7]:
# 30ÏßÄÏ†ê 16Ï∏°Ï†ïÏÜå
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Í≥ÑÎ£°", "ÏßÄÏ†ê"] = "ÎÖ∏ÏùÄÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï≤ú", "ÏßÄÏ†ê"] = "Î¨∏Ï∞ΩÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïò§ÏõîÎìú", "ÏßÄÏ†ê"] = "Ï†ïÎ¶ºÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïû•Îèô", "ÏßÄÏ†ê"] = "ÏùçÎÇ¥Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÍ∏àÎÇ®", "ÏßÄÏ†ê"] = "ÏïÑÎ¶ÑÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÍ≥†Ïö¥", "ÏßÄÏ†ê"] = "ÏïÑÎ¶ÑÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Í≥µÏ£º", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï†ïÏÇ∞", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïú†Íµ¨", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï†ïÏïà", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï≤≠Ïñë", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎåÄÏ≤úÌï≠", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ìò∏ÎèÑ", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï∂òÏû•ÎåÄ", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑúÏ≤ú", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎÖºÏÇ∞", "ÏßÄÏ†ê"] = "ÎÖºÏÇ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏñëÌôî", "ÏßÄÏ†ê"] = "ÎÖºÏÇ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌôçÎ∂Å", "ÏßÄÏ†ê"] = "ÌôçÏÑ±Ïùç"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌôçÏÑ±Ï£ΩÎèÑ", "ÏßÄÏ†ê"] = "ÌôçÏÑ±Ïùç"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏòπÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏïàÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Î∂ÅÍ≤©Î†¨ÎπÑÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌÉúÏïà", "ÏßÄÏ†ê"] = "ÎèôÎ¨∏Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎãπÏßÑ", "ÏßÄÏ†ê"] = "ÎèôÎ¨∏Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎåÄÏÇ∞", "ÏßÄÏ†ê"] = "ÎèÖÍ≥∂Î¶¨"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏòàÏÇ∞", "ÏßÄÏ†ê"] = "ÏòàÏÇ∞Íµ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏïÑÏÇ∞", "ÏßÄÏ†ê"] = "Î™®Ï¢ÖÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ±Í±∞", "ÏßÄÏ†ê"] = "ÏÑ±ÏÑ±Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÏ†ÑÏùò", "ÏßÄÏ†ê"] = "Ïã†Î∞©Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÏó∞ÏÑú", "ÏßÄÏ†ê"] = "Ïã†Ìù•Îèô"

In [8]:
aws_df.rename(columns = {"ÏßÄÏ†ê":"Ï∏°Ï†ïÏÜå"},inplace=True)
aws_df

         Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)
0         0  01-01 00:00  ÎÖ∏ÏùÄÎèô  0.154818  0.410833  0.033248      0.0  0.830
1         0  01-01 01:00  ÎÖ∏ÏùÄÎèô  0.142180  0.148611  0.030691      0.0  0.853
2         0  01-01 02:00  ÎÖ∏ÏùÄÎèô  0.173776  0.203889  0.040921      0.0  0.802
3         0  01-01 03:00  ÎÖ∏ÏùÄÎèô  0.169036  0.330556  0.048593      0.0  0.816
4         0  01-01 04:00  ÎÖ∏ÏùÄÎèô  0.169036  0.000000  0.007673      0.0  0.827
...      ..          ...  ...       ...       ...       ...      ...    ...
1051915   3  12-31 19:00  ÌôçÏÑ±Ïùç  0.317536  0.953333  0.230179      0.0  0.630
1051916   3  12-31 20:00  ÌôçÏÑ±Ïùç  0.309637  0.984167  0.253197      0.0  0.648
1051917   3  12-31 21:00  ÌôçÏÑ±Ïùç  0.308057  0.966667  0.265985      0.0  0.648
1051918   3  12-31 22:00  ÌôçÏÑ±Ïùç  0.306477  0.976667  0.235294      0.0  0.642
1051919   3  12-31 23:00  ÌôçÏÑ±Ïùç  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [9]:
merged_df = pd.merge(aws_df, train_df, on=['Ïó∞ÎèÑ','ÏùºÏãú','Ï∏°Ï†ïÏÜå'])
merged_df

,Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,0,01-01 00:00,ÎÖ∏ÏùÄÎèô,0.154818,0.410833,0.033248,0.0,0.830,0.052
1,0,01-01 01:00,ÎÖ∏ÏùÄÎèô,0.142180,0.148611,0.030691,0.0,0.853,0.072
2,0,01-01 02:00,ÎÖ∏ÏùÄÎèô,0.173776,0.203889,0.040921,0.0,0.802,0.068
3,0,01-01 03:00,ÎÖ∏ÏùÄÎèô,0.169036,0.330556,0.048593,0.0,0.816,0.064
4,0,01-01 04:00,ÎÖ∏ÏùÄÎèô,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...,...
1051915,3,12-31 21:00,ÌôçÏÑ±Ïùç,0.308057,0.966667,0.265985,0.0,0.648,0.044
1051916,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.262243,0.866944,0.043478,0.0,0.725,0.052
1051917,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.306477,0.976667,0.235294,0.0,0.642,0.052
1051918,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.257504,0.000000,0.000000,0.0,0.710,0.060
1051919,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [10]:
# Ïûò Î≥ëÌï©ÎêòÏóàÎäîÏßÄ ÌôïÏù∏
x = merged_df.loc[merged_df["Ï∏°Ï†ïÏÜå"]=="Î™®Ï¢ÖÎèô","PM2.5"]
x

771408      NaN
771409      NaN
771410      NaN
771411      NaN
771412      NaN
          ...
806467    0.036
806468    0.048
806469    0.044
806470    0.048
806471    0.044
Name: PM2.5, Length: 35064, dtype: float64

In [11]:
merged_df.Ï∏°Ï†ïÏÜå.unique()

array(['ÎÖ∏ÏùÄÎèô', 'Ïù¥ÏõêÎ©¥', 'ÏÑ±ÏÑ±Îèô', 'ÎèôÎ¨∏Îèô', 'ÎåÄÏ≤ú2Îèô', 'ÎèÖÍ≥∂Î¶¨', 'ÎÖºÏÇ∞', 'Í≥µÏ£º', 'ÏïÑÎ¶ÑÎèô',
       'ÏòàÏÇ∞Íµ∞', 'Î™®Ï¢ÖÎèô', 'Ïã†Î∞©Îèô', 'ÏùçÎÇ¥Îèô', 'Î¨∏Ï∞ΩÎèô', 'Ï†ïÎ¶ºÎèô', 'Ïã†Ìù•Îèô', 'ÌôçÏÑ±Ïùç'],
      dtype=object)

In [12]:
aws_df.Ï∏°Ï†ïÏÜå.unique()

array(['ÎÖ∏ÏùÄÎèô', 'Ïù¥ÏõêÎ©¥', 'ÏÑ±ÏÑ±Îèô', 'ÎèôÎ¨∏Îèô', 'ÎåÄÏ≤ú2Îèô', 'ÎèÖÍ≥∂Î¶¨', 'ÎÖºÏÇ∞', 'Í≥µÏ£º', 'ÏïÑÎ¶ÑÎèô',
       'ÏòàÏÇ∞Íµ∞', 'Î™®Ï¢ÖÎèô', 'Ïã†Î∞©Îèô', 'ÏùçÎÇ¥Îèô', 'Î¨∏Ï∞ΩÎèô', 'Ï†ïÎ¶ºÎèô', 'Ïã†Ìù•Îèô', 'ÌôçÏÑ±Ïùç'],
      dtype=object)

In [13]:
# Î≤†Ïù¥Ïä§ÎùºÏù∏ ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÏÑ±
merged_df.to_csv('final_df.csv')

### **4. ÏãúÍ≥ÑÏó¥ Îç∞Ïù¥ÌÑ∞ Í∞ÄÍ≥µ**

1. [ÏùºÏãú] Ïª¨ÎüºÏùÑ Ïó∞-Ïõî-Ïùº Ïãú:Î∂ÑÏúºÎ°ú Ïû¨Ï†ïÏùò 
  - Datetime Î™®Îìà ÏÇ¨Ïö©
  - pd.to_Datime Î™®Îìà ÏÇ¨Ïö©
2. label EncoderÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î≤îÏ£ºÌòï Î≥ÄÏàò ÏàòÏπòÎ°ú Î≥ÄÌôò

In [14]:
# ÎçîÎØ∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ïπ¥ÌîºÌïòÏó¨ ÏÇ¨Ïö©
df = merged_df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1051920 entries, 0 to 1051919
Data columns (total 9 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Ïó∞ÎèÑ       1051920 non-null  int64
 1   ÏùºÏãú       1051920 non-null  object
 2   Ï∏°Ï†ïÏÜå      1051920 non-null  object
 3   Í∏∞Ïò®(¬∞C)   1032972 non-null  float64
 4   ÌíçÌñ•(deg)  1032972 non-null  float64
 5   ÌíçÏÜç(m/s)  1032972 non-null  float64
 6   Í∞ïÏàòÎüâ(mm)  1032972 non-null  float64
 7   ÏäµÎèÑ(%)    1032972 non-null  float64
 8   PM2.5    1023621 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 80.3+ MB

In [15]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏
df.isna().sum()

Ïó∞ÎèÑ             0
ÏùºÏãú             0
Ï∏°Ï†ïÏÜå            0
Í∏∞Ïò®(¬∞C)     18948
ÌíçÌñ•(deg)    18948
ÌíçÏÜç(m/s)    18948
Í∞ïÏàòÎüâ(mm)    18948
ÏäµÎèÑ(%)      18948
PM2.5      28299
dtype: int64

In [20]:
df[df['PM2.5'].isnull()&df['Í∏∞Ïò®(¬∞C)'].isnull()] #Í≤∞Ï∏°ÏπòÍ∞Ä Ï§ëÍµ¨ÎÇúÎ∞©ÏûÑ

         Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå  Í∏∞Ïò®(¬∞C)  ÌíçÌñ•(deg)  ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)  PM2.5
12354     1  05-30 18:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN    NaN
23494     2  09-06 22:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN    NaN
23763     2  09-18 03:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN    NaN
23764     2  09-18 04:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN    NaN
31711     3  08-14 07:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN    NaN
...      ..          ...  ...     ...      ...      ...      ...    ...    ...
1003800   1  04-04 12:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN    NaN
1003802   1  04-04 13:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN    NaN
1003804   1  04-04 14:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN    NaN
1003806   1  04-04 15:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN    NaN
1048574   3  10-23 07:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN    NaN

[586 rows x 9 columns]

In [21]:
df[df['Í∏∞Ïò®(¬∞C)'].isnull()&df['ÌíçÌñ•(deg)'].isnull()]

         Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå  Í∏∞Ïò®(¬∞C)  ÌíçÌñ•(deg)  ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)  PM2.5
135       0  01-06 15:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN  0.156
136       0  01-06 16:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN  0.116
137       0  01-06 17:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN  0.104
138       0  01-06 18:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN  0.124
139       0  01-06 19:00  ÎÖ∏ÏùÄÎèô     NaN      NaN      NaN      NaN    NaN  0.132
...      ..          ...  ...     ...      ...      ...      ...    ...    ...
1051811   3  12-29 17:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN  0.312
1051824   3  12-30 00:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN  0.356
1051826   3  12-30 01:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN  0.340
1051828   3  12-30 02:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN  0.392
1051840   3  12-30 08:00  ÌôçÏÑ±Ïùç     NaN      NaN      NaN      NaN    NaN  0.352

[18948 rows x 9 columns]

#Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
1. Ï†Ñ Ï£ºÏóê ÌèâÍ∑†ÏπòÎ°ú ÎñÑÎ†§Î∞ïÏûê. -> Ïï†Ï¥àÏóê ÎØ∏ÏÑ∏Î®ºÏßÄ Ïò§Îäî Ï£ºÍ∞Ä ÎÇ†ÎùºÍ∞îÏùÑ Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Î¨¥ÏùòÎØ∏ ÌïòÎã§Í≥† ÌåêÎã®.

2. Í±ç ÎÇ†Î¶¨Ïûê -> Ïù¥Í±∏Î°úÍ∞ê

In [17]:
df[df['Ï∏°Ï†ïÏÜå']=='ÎÖ∏ÏùÄÎèô']

,Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,0,01-01 00:00,ÎÖ∏ÏùÄÎèô,0.154818,0.410833,0.033248,0.0,0.830,0.052
1,0,01-01 01:00,ÎÖ∏ÏùÄÎèô,0.142180,0.148611,0.030691,0.0,0.853,0.072
2,0,01-01 02:00,ÎÖ∏ÏùÄÎèô,0.173776,0.203889,0.040921,0.0,0.802,0.068
3,0,01-01 03:00,ÎÖ∏ÏùÄÎèô,0.169036,0.330556,0.048593,0.0,0.816,0.064
4,0,01-01 04:00,ÎÖ∏ÏùÄÎèô,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...,...
35059,3,12-31 19:00,ÎÖ∏ÏùÄÎèô,0.265403,0.101944,0.025575,0.0,0.596,0.032
35060,3,12-31 20:00,ÎÖ∏ÏùÄÎèô,0.252765,0.338056,0.015345,0.0,0.594,0.048
35061,3,12-31 21:00,ÎÖ∏ÏùÄÎèô,0.257504,0.970556,0.040921,0.0,0.575,0.020
35062,3,12-31 22:00,ÎÖ∏ÏùÄÎèô,0.262243,0.908056,0.030691,0.0,0.611,0.056
35063,3,12-31 23:00,ÎÖ∏ÏùÄÎèô,0.257504,0.919444,0.051151,0.0,0.632,0.040

In [18]:
# ÏûÑÏãúÎ°ú Í≤∞Ï∏°Ïπò ÎÇ†Î†§
df = df.dropna()

In [19]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df

,Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,0,01-01 00:00,ÎÖ∏ÏùÄÎèô,0.154818,0.410833,0.033248,0.0,0.830,0.052
1,0,01-01 01:00,ÎÖ∏ÏùÄÎèô,0.142180,0.148611,0.030691,0.0,0.853,0.072
2,0,01-01 02:00,ÎÖ∏ÏùÄÎèô,0.173776,0.203889,0.040921,0.0,0.802,0.068
3,0,01-01 03:00,ÎÖ∏ÏùÄÎèô,0.169036,0.330556,0.048593,0.0,0.816,0.064
4,0,01-01 04:00,ÎÖ∏ÏùÄÎèô,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...,...
1051915,3,12-31 21:00,ÌôçÏÑ±Ïùç,0.308057,0.966667,0.265985,0.0,0.648,0.044
1051916,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.262243,0.866944,0.043478,0.0,0.725,0.052
1051917,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.306477,0.976667,0.235294,0.0,0.642,0.052
1051918,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.257504,0.000000,0.000000,0.0,0.710,0.060
1051919,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [20]:
# 2020ÎÖÑÏóê 2Ïõî29ÏùºÏù¥ Ï°¥Ïû¨Ìï®ÏúºÎ°ú ÏûÑÏùòÎ°ú ÎÖÑÎèÑ Ï†ïÏùò Î∞è Îß§Ìïë
df.loc[df['Ïó∞ÎèÑ'] == 0, 'ÏùºÏãú'] = '2017-' + df.loc[df['Ïó∞ÎèÑ'] == 0, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 1, 'ÏùºÏãú'] = '2018-' + df.loc[df['Ïó∞ÎèÑ'] == 1, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 2, 'ÏùºÏãú'] = '2019-' + df.loc[df['Ïó∞ÎèÑ'] == 2, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 3, 'ÏùºÏãú'] = '2020-' + df.loc[df['Ïó∞ÎèÑ'] == 3, 'ÏùºÏãú']

In [21]:
df

,Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,0,2017-01-01 00:00,ÎÖ∏ÏùÄÎèô,0.154818,0.410833,0.033248,0.0,0.830,0.052
1,0,2017-01-01 01:00,ÎÖ∏ÏùÄÎèô,0.142180,0.148611,0.030691,0.0,0.853,0.072
2,0,2017-01-01 02:00,ÎÖ∏ÏùÄÎèô,0.173776,0.203889,0.040921,0.0,0.802,0.068
3,0,2017-01-01 03:00,ÎÖ∏ÏùÄÎèô,0.169036,0.330556,0.048593,0.0,0.816,0.064
4,0,2017-01-01 04:00,ÎÖ∏ÏùÄÎèô,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...,...
1051915,3,2020-12-31 21:00,ÌôçÏÑ±Ïùç,0.308057,0.966667,0.265985,0.0,0.648,0.044
1051916,3,2020-12-31 22:00,ÌôçÏÑ±Ïùç,0.262243,0.866944,0.043478,0.0,0.725,0.052
1051917,3,2020-12-31 22:00,ÌôçÏÑ±Ïùç,0.306477,0.976667,0.235294,0.0,0.642,0.052
1051918,3,2020-12-31 23:00,ÌôçÏÑ±Ïùç,0.257504,0.000000,0.000000,0.0,0.710,0.060
1051919,3,2020-12-31 23:00,ÌôçÏÑ±Ïùç,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [22]:
# Datetime ÌòïÏãùÏúºÎ°ú Î≥ÄÌôò
df['ÏùºÏãú'] = df['ÏùºÏãú'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M'))

In [23]:
# Î≥ÄÌôòÎêòÏóàÎäîÏßÄ ÌôïÏù∏
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005259 entries, 0 to 1051919
Data columns (total 9 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Ïó∞ÎèÑ       1005259 non-null  int64
 1   ÏùºÏãú       1005259 non-null  datetime64[ns]
 2   Ï∏°Ï†ïÏÜå      1005259 non-null  object
 3   Í∏∞Ïò®(¬∞C)   1005259 non-null  float64
 4   ÌíçÌñ•(deg)  1005259 non-null  float64
 5   ÌíçÏÜç(m/s)  1005259 non-null  float64
 6   Í∞ïÏàòÎüâ(mm)  1005259 non-null  float64
 7   ÏäµÎèÑ(%)    1005259 non-null  float64
 8   PM2.5    1005259 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 76.7+ MB

In [22]:
# ÏãúÍ≥ÑÏó¥ ÌïôÏäµÏùÑ ÏúÑÌï¥ ["ÏùºÏãú"] Ïª¨ÎüºÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÌïúÎã§.
df = df.set_index(["ÏùºÏãú"])

In [27]:
# labelencoderÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î≤îÏ£ºÌòï Î≥ÄÏàòÎ•º ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÌôòÌïúÎã§.
le = LabelEncoder()
df['Ï∏°Ï†ïÏÜå'] = le.fit_transform(df['Ï∏°Ï†ïÏÜå'])
df

,Ïó∞ÎèÑ,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
ÏùºÏãú,,,,,,,,
2017-01-01 00:00:00,0,1,0.154818,0.410833,0.033248,0.0,0.830,0.052
2017-01-01 01:00:00,0,1,0.142180,0.148611,0.030691,0.0,0.853,0.072
2017-01-01 02:00:00,0,1,0.173776,0.203889,0.040921,0.0,0.802,0.068
2017-01-01 03:00:00,0,1,0.169036,0.330556,0.048593,0.0,0.816,0.064
2017-01-01 04:00:00,0,1,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...
2020-12-31 21:00:00,3,16,0.308057,0.966667,0.265985,0.0,0.648,0.044
2020-12-31 22:00:00,3,16,0.262243,0.866944,0.043478,0.0,0.725,0.052
2020-12-31 22:00:00,3,16,0.306477,0.976667,0.235294,0.0,0.642,0.052
2020-12-31 23:00:00,3,16,0.257504,0.000000,0.000000,0.0,0.710,0.060
2020-12-31 23:00:00,3,16,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [28]:
df['PM2.5'].isnull().sum()

0

## 5. **AI Î™®Îç∏ÎßÅ**

- ÌÉÄÍπÉ Î≥ÄÏàò ÏßÄÏ†ïÍ≥º x, y ÏÑ§Ï†ï
- train_test_split ÏÇ¨Ïö©ÏúºÎ°ú ÌïôÏäµÍ≥º ÌÖåÏä§Ìä∏Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ•ò

In [28]:
target = "PM2.5"
y = df[target]
x = df.drop(columns = target)

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

###LSTM ÏÇ¨Ïö© Î∞è MAE ÌèâÍ∞Ä

In [29]:
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator

scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns, index=df.index)

y = df['PM2.5']
x = df.drop(columns='PM2.5')

train_data = TimeseriesGenerator(x, y, length=24, batch_size=32)

# 2. LSTM Î™®Îç∏ ÌõàÎ†®
from keras.models import Sequential
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(32, input_shape=(24, x.shape[1])))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

model.fit_generator(train_data, epochs=2)

Epoch 1/2

<ipython-input-29-5d4530e20447>:21: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  model.fit_generator(train_data, epochs=2)

31414/31414 [==============================] - 195s 6ms/step - loss: 0.0045
Epoch 2/2
31414/31414 [==============================] - 182s 6ms/step - loss: 0.0041

In [ ]:
# 3. Î™®Îç∏ ÏÑ±Îä• ÌèâÍ∞Ä
from sklearn.metrics import mean_absolute_error

test_data = TimeseriesGenerator(x_test, y_test, length=24, batch_size=1)

y_pred = model.predict_generator(test_data)
mae = mean_absolute_error(y_test[24:], y_pred[:-1])
print('MAE: ', mae)

<ipython-input-30-e9c5ee9e1347>:6: UserWarning: `Model.predict_generator` is deprecated and will be removed in a future version. Please use `Model.predict`, which supports generators.
  y_pred = model.predict_generator(test_data)